.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  max-width: var(--max-width);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
  padding: 1rem .5rem;
  border-bottom: 1px solid white;
}