$colors: (
  backgroundLight: #F3F5F7,
  backgroundDark: #101519,
  white: #FFFFFF,
  black: #0f172a
);


$teal-dark: #004242;
$teal-light: #a1fefe;

$black: #0f172a;
$white: #FFF;
$dark-grey: #898D8D;
$light-grey: #C1C6C8;
