@import './functions';

$light: (
  borderDark:      color(backgroundDark),
  borderLight:     color(backgroundLight),
  textDark:        color(black),
  textLight:       color(white),
  backgroundDark:  color(backgroundDark),
  backgroundLight: color(backgroundLight)
);